[submodule "powerline"]
	path = powerline
	url = https://github.com/milkbikis/powerline-shell
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundles/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bin/couchpotato"]
	path = bin/couchpotato
	url = git://github.com/RuudBurger/CouchPotatoServer.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "pure-zsh-prompt"]
	path = pure-zsh-prompt
	url = https://github.com/sindresorhus/pure.git
